[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
python-dateutil = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.7"
